html,body{
    margin: 0; 
    padding: 0; 
}

.background{
    background-color: #3C4753;
    min-height: 100vh; 
    min-width: 100vw;
}




.navContainer{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    box-shadow: 10px,10px, white;
    background-color: black;
    opacity: 70%;
    width: 100vw;
    height: 100vh;
    
}

.projectNav{
    color: white; 
    font-size: 2rem;
    transition: 750ms; 
    height: auto; 
    width: auto; 
    padding: 1%; 
    background-color:#7D8966 ; 
    border-radius: 100px; 
}
.abNav{
    color: white; 
    font-size: 2rem;
    transition: 750ms; 
    height: auto; 
    width: auto; 
    padding: 1%; 
    background-color:#7D8966 ; 
    border-radius: 100px; 
}
.eduNav{
    color: white; 
    font-size: 2rem;
    transition: 750ms; 
    height: auto; 
    width: auto; 
    padding: 1%; 
    background-color:#7D8966 ; 
    border-radius: 100px;
    
}

.triangle{
    border-top: 4vw solid #cc8899;
    border-left: 3vh solid transparent; 
    border-right: 3vh solid transparent; 
    
    transition: 750ms;
}

.triangle:hover ~ div {
    transform: rotate(180deg);
    opacity: 100%; 
    transition: 750ms;



}

.projectNav:hover.triangle{
    transform: rotate(60deg);
    opacity: 75%; 
    transition: 750ms; 
}
.projectNav:hover{
    box-shadow: 5px 5px  white;
}

.eduNav:hover{
    box-shadow: 5px 5px  white;
}

.abNav:hover{
    box-shadow: 5px 5px  white;
}



